@model List<CopyOfShikshanSankraman.Models.NewChitrakar_tbl>

@{
    ViewBag.Title = "ChitrakarList";
}

<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }

    .fixTableHead thead th {
        position: sticky;
        top: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    /*/////////////////NavBar///////////////////////////////////////*/
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #152f49;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            padding: 8px;
            color:white;
        }
    select {
        color:white;
        border:none;
        width:100px;
        margin-top: 2px;
        background-color: #152f49;
    }
        /*/////////////////////////////////////////////////////////////*/
</style>
<ul style="margin-top:5px">
    <li><a href="../Login/WriterList">लेखक यादी</a></li>
    <li><a href="../Login/Registration">चित्रकार यादी</a></li>
    <li>
        <select>
            <option><a>पेमेंट मोड</a></option>
            <option>@Html.ActionLink("मुखपृष्ठ", "WriterList", "Login", new { controller = "Login" })</option>
            <option><a href="../Login/WriterList">कनिष्ट महाविद्यालय/उच्च्य माध्यमिक  शाळा</a></option>
            <option> <a href="../Home/Karyalay">कार्यालय</a></option>
            <option><a href="../Home/Varganidar">वयक्तिक वर्गणीदार</a> </option>
        </select>
    </li>


</ul>
<h2>ChitrakarList</h2>
<div class="fixTableHead" style="overflow-x:scroll">
    <table style="border: 5px;  ">
        <thead>
            <tr>
                <th>FullName</th>
                <th>EmailId</th>
                <th>MobileNo1</th>
                <th>MobileNo2</th>
                <th>AadharNo</th>
                <th>ChitrachaVishay</th>
                <th>ShaikshanikPatrata</th>
                <th>KaryalayachaPrakar</th>
                <th>VyavasayikSthan</th>
                <th>ChitraPrakashanStatus</th>
                <th>Anubhav</th>
                <th>KaryaratSthal</th>
                <th>PrakashitChitra</th>
                <th>PrakashitKashyamadhe</th>
                <th>Vishay</th>
                <th>AavadichaVishay</th>
                <th>Payment</th>
                <th>SamtiPatra</th>
                <th>Chitra</th>
                <th>Chitra2</th>
                
            </tr>
        </thead>
        

        @foreach (var item in Model)
        {
    <tr>
        <td>@item.FullName</td>
        <td>@item.EmailId</td>
        <td>@item.MobileNo1</td>
        <td>@item.MobileNo2</td>
        <td>@item.AadharNo</td>
        <td>@item.ChitrachaVishay</td>
        <td>@item.ShaikshanikPatrata</td>
        <td>@item.KaryalayachaPrakar</td>
        <td>@item.VyavasayikSthan</td>
        <td>@item.ChitraPrakashanStatus</td>
        <td>@item.Anubhav</td>
        <td>@item.KaryaratSthal</td>
        <td>@item.PrakashitChitra</td>
        <td>@item.PrakashitKashyamadhe</td>
        <td>@item.Vishay</td>
        <td>@item.AavadichaVishay</td>
        <td>@item.Payment</td>


        <td>@Html.ActionLink("Downlaod", "DownLoadFile1", new { id = item.Id })     </td>

        <td>
            @Html.ActionLink("Downlaod", "DownLoadFile", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Downlaod", "DownLoadFile2", new { id = item.Id })
        </td>
        
    </tr>
        }
    </table>
</div>

